<h1>Build Maps, Blast Dragons.</h1>

<% if :notice %>
  <p class="centered"><%= flash[:notice] %></p>
<% end %>

<div id="welcome-page-img">
  <%= image_tag("dragon_weirdo.png") %>
  <div id="button-container">
    <div class="main-button">
      <%= link_to 'sign up', new_user_path %>
    </div>
    <div class="main-button">
      <%= link_to 'sign in', new_session_path %>
    </div>
  </div>
</div>
