<h1>Welcome to Dragon Blaster!</h1>
<% if :notice %>
  <%= flash[:notice] %>
<% end %>
<ul>
  <% unless current_user %>
    <li><%= link_to 'Register', new_user_path %></li>
    <li><%= link_to 'Sign-In', new_session_path %></li>
  <% else %>
    <li><%= link_to 'Sign-Out',  sessions_path(current_user), method: :delete %></li>
<% end %>
</ul>
