/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding: 0;
  margin: 50px 0 0 0;
}


nav {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background: pink;
  margin: 0;
}

nav p {
  display: inline;
  font-size: 2em;
}

nav ul {
  display: inline;
  position: absolute;
  right: 30px;
}

nav li {
  display: inline;
  padding-left: 16px;
}


nav a {
  text-decoration: none;
  color: black;
}

#dialog-form {
  background-color: pink;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
