/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding: 0;
  margin: 50px 0 0 0;
}


nav {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url('http://www.colourbox.com/preview/5789816-583545-pink-python-snake-skin-texture-background.jpg');
  margin: 0;
}

nav p {
  display: inline;
  font-size: 2em;
}

nav ul {
  display: inline;
  position: absolute;
  right: 30px;
}

nav li {
  display: inline;
  padding-left: 16px;
}

nav a {
  text-decoration: none;
  color: white;
}

#dialog-form {
  background-color: pink;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#cells {
  margin: 0 auto;
  padding: 5px;
  width: 410px;
}

#cells div {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  float: left;
  margin: 0;
}

.body_container {
  width: 90%;
  padding: 1em 3em;
}

.link_list {
  text-indent: 2em;
}

a{
  color: purple;
  text-decoration: none;
}

a:hover{
  background-color: pink;
  text-decoration: none;
}

#back-or-play, #finish-map {
  display: none;
}

.profile_image {
  float: right;
  margin-bottom: 0%;
  margin-right: 1em;
}

.profile_image img{
  width:70%;
  height:70%;
}

#alert {
  padding: 1em;
  color: pink;
  background-color: black;
  width: 25%;
  margin-top: 2em;
  text-align: center;
  border: .5em solid pink;
  border-radius: 10em;
}

/*div #gameboard {
  width: 350px; margin: 20px 0;
}*/

/*div #gameboard table {
  margin: 1em 0; border-collapse: collapse; width: 100%;
}

div #gameboard table td, div #gameboard table th {
  border: 1px solid #eee; padding: .6em 10px; text-align: left;
}*/

